body {
    /* margin: 0; */
    padding: 0;
    background-color: #121120;
    margin-top: 50px;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121120;
    padding: 10px;
    position: relative;
    max-height: 50px;
    top: 0;
    right: 2px;
    width: 100%;
    z-index: 1000;
    position: fixed;

}

/* LOGO */
.logo img {
    max-height: 80px;
}

/* NAVBAR MENU */
.menu div {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

}

#active {
    color: #068FFF;
    font-weight: bold;
}

.menu a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-right: 60px;

}


/* heading */
.heading h1 {
    font-size: 92px;
    color: #068FFF;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* content */
/* .centered-div {
    text-align: center;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}

.highlight-text {
    color: #068FFF;
} */

/* .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: 380px;
} */


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    max-width: 100%;
    max-height: 740px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -45px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #EEEEEE;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #121120;
        right: 0;
        left: 0;
        text-align: right;
        padding: 16px 0;

    }


    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .heading h1 {
        margin-top: 150px;
    }

}